*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*color: #fff;*/
  background-color: #f2f2f2;  /* Blue */
  padding: 20px 0;
}
.userr{
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 2px solid #DD2C00;
}